SECRET_KEY='Your_Django_Secret_Key_Here'
DEBUG=False
DB_NAME='Your_Database_Name_Here'
DB_USER='Your_Database_User_Here'
DB_PASSWORD='Your_Database_Password_Here'
DB_HOST='localhost'
DB_PORT='5432'
EMAIL_HOST_USER='Your_Email_Host_User_Here'
EMAIL_HOST_PASSWORD='Your_Email_Host_Password_Here'
TELEGRAM_BOT_TOKEN='Your_Telegram_Token_Here'
